<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

 <appSettings>
   <add key ="Sqlconnection" value="Data Source=LIANGXIAOBD8E;DataBase=biz;User ID=sa;Password=sa;Integrated Security=false;"/>
    <add key ="Sqlconnection1" value="Data Source=192.168.1.110;Initial Catalog=wcs;User ID=sa;Password=SG304;Integrated Security=false;"/>
   
 </appSettings>
  <connectionStrings>
    <add name="ConWCS" connectionString="Data Source=LIANGXIAOBD8E;DataBase=biz;User ID=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient"/>
    <add name="ConHR" connectionString="Data Source=192.168.17.52;DataBase=biz;User ID=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient"/>
    <!--<add name="ConWCS" connectionString="Data Source=192.168.17.52;DataBase=biz;User ID=sa;Password=sa;Integrated Security=false;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>



